*.d
*.o
*.log
*.rc
bin
*/*/*.so
*/*/*.a
*/*/*/*.so
*/*/*/*.a
*.a
build
version-info/x86/version-info
*.gdb
*.cmd
*.ko
*.vs
*.vcxproj.filters
*.vcxproj.user
*.swp
*.json
../bin**
#!arm-extras/*
**/testlist_x64.txt
**/testlist_x86.txt
**/z.xml
**/.compileinfo-x86
helloworld/x86/helloworld
cmdline/examples/cmdline-example1/x86/cmdline-example1
cmdline/unit-tests/commit/x86/cmdline-unit-tests
logging/examples/logging-example1/x86/logging-example1
logging/unit-tests/commit/x86/logging-unit-tests
utilities/unit-tests/commit/x86/utilities-unit-tests
exception/unit-tests/commit/x86/exception-unit-tests
*.pro.user
.clang-format
**/bin/**
software/**.d.*
software/doc-html
software/doxygen_errors.txt
*_flags.txt
**/_flags.txt
configurator/examples/configurator-example1/x86/configurator-example1
configurator/unit-tests/commit/x86/configurator-unit-tests
configurator/logging-configurator/x86/logging-configurator
**/Debug/
**/build/
**/.vs/
**/bin
*.aps
#**/x64
*GVersion.cpp*
Version.h
#!submodules/xml-parser-1-0-2/xml/3rd-party/libxml/lib
**/Release
submodules/productivity-1-0-2/utilities/unit-tests/commit/arm/utilities-unit-tests
cmdline/examples/cmdline-example1/arm/cmdline-example1
cmdline/unit-tests/commit/arm/cmdline-unit-tests
exception/unit-tests/commit/arm/exception-unit-tests
logging/examples/logging-example1/arm/logging-example1
logging/unit-tests/commit/arm/logging-unit-tests
helloworld/arm/helloworld
database-test/arm/database-test
database-test/x86/database-test
configurator/logging-configurator/x86/configurator-example1
configurator/logging-configurator/x86/logging-example1
configurator/unit-tests/commit/x86/logging-unit-tests
exception/unit-tests/commit/x86/logging-unit-tests
logging/unit-tests/commit/test-data/logmaster-test-rotate.db
logmaster.db
gui/alarm/examples/gui-alarm-example1/x86/gui-alarm-example1
gui/application/main/x86/gui-main
gui/c-ring/examples/c-ring-example1/x86/c-ring-example1
gui/common/examples/gui-example1/x86/gui-example1
gui/fsm/examples/gui-qt-fsm-example1/x86/gui-qt-fsm-example1
gui/habitat/examples/gui-habitat-example1/x86/gui-habitat-example1
gui/logger/examples/gui-loggergui-example1/gui-loggergui-example1.cpp
gui/operations/examples/operations-example1/x86/gui-operations-example1
gui/sensors/examples/gui-sensors-example1/x86/gui-sensors-example1
gui/logger/examples/gui-loggergui-example1/x86/gui-loggergui-example1
gui/logmaster/examples/gui-qt-logmaster-example1//gui-qt-logmaster-example1
gui/logmaster/examples/gui-qt-logmaster-example1/x86/gui-loggergui-example1
gui/logmaster/examples/gui-qt-logmaster-example1/x86/gui-qt-logmaster-example1
productivity/utilities/version-info/arm/version-info
doxygen.exe
doxygen_warnings.txt
doxyindexer.exe
doxysearch.cgi.exe
doxywizard.exe
libclang.dll
html
**/CMakeFiles/*
gtest/CMake*
gtest/googletest/cmake_install.cmake
gtest/CTestTestfile.cmake
gtest/cmake_install.cmake
gtest/googletest/CTestTestfile.cmake
gtest/googletest/cmake_install.cmake
gtest/googletest/generated/GTestConfigVersion.cmake
!docker-cross/files/fmt-10.2.1.tar.gz
gtest/Makefile
gtest/googlemock/CTestTestfile.cmake
gtest/googlemock/Makefile
gtest/googlemock/cmake_install.cmake
gtest/googletest/Makefile
