
**/.compileinfo-x86*
*.d
*.o
*.log
*.rc
bin
*/*/*.so
*/*/*.a
*/*/*/*.so
*/*/*/*.a
*.a
build
version-info/x86/version-info
*.gdb
*.cmd
*.ko
*.vs
*.vcxproj.filters
*.vcxproj.user
*.swp
# **/GVersion.cpp
*.json
../bin**
**/SvnData.h
software/**/Version.h
#!arm-extras/*
**/testlist_x64.txt
**/testlist_x86.txt
**/z.xml
**/.compileinfo-x86
helloworld/x86/helloworld
cmdline/examples/cmdline-example1/x86/cmdline-example1
cmdline/unit-tests/commit/x86/cmdline-unit-tests
logging/examples/logging-example1/x86/logging-example1
logging/unit-tests/commit/x86/logging-unit-tests
utilities/unit-tests/commit/x86/utilities-unit-tests
exception/unit-tests/commit/x86/exception-unit-tests
*.pro.user
.clang-format
**/bin/**
software/**.d.*
software/doc-html
software/doxygen_errors.txt
*_flags.txt
**/_flags.txt
configurator/examples/configurator-example1/x86/configurator-example1
configurator/unit-tests/commit/x86/configurator-unit-tests
configurator/logging-configurator/x86/logging-configurator
**/Debug/
**/build/
**/.vs/
**/bin
#**/x64
#!submodules/xml-parser-1-0-2/xml/3rd-party/libxml/lib
**/Release
submodules/productivity-1-0-2/utilities/unit-tests/commit/arm/utilities-unit-tests
cmdline/examples/cmdline-example1/arm/cmdline-example1
cmdline/unit-tests/commit/arm/cmdline-unit-tests
exception/unit-tests/commit/arm/exception-unit-tests
logging/examples/logging-example1/arm/logging-example1
logging/unit-tests/commit/arm/logging-unit-tests
helloworld/arm/helloworld
database-test/arm/database-test
database-test/x86/database-test
configurator/logging-configurator/x86/configurator-example1
configurator/logging-configurator/x86/logging-example1
configurator/unit-tests/commit/x86/logging-unit-tests
exception/unit-tests/commit/x86/logging-unit-tests
