
**/.compileinfo-x86*
*.d
*.o
*.log
*.rc
bin
*/*/*.so
*/*/*.a
*/*/*/*.so
*/*/*/*.a
*.a
build
version-info/x86/version-info
*.gdb
*.in
*.cmd
*.ko
*.vs
*.vcxproj.filters
*.vcxproj.user
*.swp
# **/GVersion.cpp
*.json
../bin**
**/SvnData.h
software/**/Version.h
#!arm-extras/*
**/testlist_x64.txt
**/testlist_x86.txt
**/z.xml
**/.compileinfo-x86
helloworld/x86/helloworld
cmdline/examples/cmdline-example1/x86/cmdline-example1
cmdline/unit-tests/commit/x86/cmdline-unit-tests
logging/examples/logging-example1/x86/logging-example1
logging/unit-tests/commit/x86/logging-unit-tests
utilities/unit-tests/commit/x86/utilities-unit-tests
xml/examples/xml-example1/x86/xml-example1
xml/unit-tests/commit/x86/xml-unit-tests
xml/xml-validator/x86/xml-validator
version-info/x86/version-info
*.pro.user
.clang-format
**/bin/**
software/**.d.*
software/doc-html
software/doxygen_errors.txt
*_flags.txt
**/_flags.txt
com/examples/tcp-example1/x86/tcp-example1
com/tcp-client/x86/tcp-client
com/tcp-server/x86/tcp-server
com/unit-tests/commit/x86/com-unit-tests
common/examples/fsm-example2/x86/fsm-example2
common/examples/message-example1/x86/message-example1
common/examples/message-example2/x86/message-example2
common/examples/message-example3-blocking/x86/message-example3-blocking
common/examples/message-example4-timer/x86/message-example4-timer
common/unit-tests/commit/x86/common-unit-tests
common/examples/fsm-example1/x86/fsm-example1
